/**
 * CascadeMultiTree Component Style for uxcore
 * @author chenqiu
 *
 * Copyright 2015-2016, Uxcore Team, Alinw.
 * All rights reserved.
 */

@__select-tree-prefix-cls: uxcore-cascade-multi-tree;

.@{__select-tree-prefix-cls} {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  color: #666;
  min-height: 36px;
  background-color: #fff;
  border-radius: 0;
  user-select: none;
  -webkit-user-select: none;
  border: 1px solid #ccc;
  min-width: 120px;
  width: 300px;
  cursor: default;
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-placeholder {
    display: inline-block;
    height: 34px;
    margin-left: 5px;
    line-height: 36px;
    color: #aaa;
  }

  ul&-selection-rendered {
    padding-bottom: 2px;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ul&-selection-rendered &-selection-choice {
    float: left;
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 0 15px;
    overflow: hidden;
    position: relative;
    height: 26px;
    line-height: 26px;
    margin-top: 4px;
    margin-right: 4px;
    &.@{__select-tree-prefix-cls}-selection-choice-disabled {
      cursor: not-allowed;
      background: rgba(31,56,88,.04);
      color: rgba(31,56,88,.3);
      border-color: rgba(31,56,88,.04);
    }
    &-content {
      margin: 0;
      transition: margin .3s cubic-bezier(.165,.84,.44,1);
    }
    &-remove {
      color: #919191;
      cursor: pointer;
      font-weight: 700;
      position: absolute;
      top: 0px;
      right: 2px;
      transition: opacity 0.3s, transform 0.3s;
      opacity: 0;
      transform: scale(0);
      padding: 0 4px 0 0;
      &:before {
        content: '×';
      }
    }
    &:hover {
      .@{__select-tree-prefix-cls}-selection-choice-content {
        margin: 0 8px 0 -8px;
      }
      .@{__select-tree-prefix-cls}-selection-choice-remove {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

// 面板部分
.@{__select-tree-prefix-cls}-dropdown {
  font-size: 12px;
  font-family: PingFangSC-Regular;
  color: #000000;
  letter-spacing: 0;
  height: 312px;
  overflow: hidden;
}
.@{__select-tree-prefix-cls}-renderResultsPanel, .@{__select-tree-prefix-cls}-renderTree {
  background-color: white;
  border: 1px solid #dcdcdc;
  border-radius: @input-border-radius;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  height: 100%;
  height: 100%;
}

// 下拉结果部分
.@{__select-tree-prefix-cls}-renderResultsPanel {
  border-left-color: transparent;
  overflow-y: hidden;
  padding-bottom: 3px;
  background: #F5F5F5;
  position: relative;
  &-header {
    padding: 24px 16px 5px;
  }
  &-body {
    height: 230px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &-allClear {
    float: right;
    cursor: pointer;
    color: @brand-primary;
  }
  &-noContent {
    color: #999;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    line-height: 48px;
    background: #FAFAFA;
    border: 1px dashed #CCCCCC;
    height: 48px;
    width: 75%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  &-title {
    text-align: center;
    font-size: 14px;
  }
  &-fontS {
    color: #999;
  }
}

// 下拉渲染树部分
.@{__select-tree-prefix-cls}-renderTree {
  position: relative;
  &-header {
    padding: 24px 16px 5px;
  }
  &-body {
    height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &-notFound {
    display: inline-block;
    color: #999;
    height: 48px;
    border: 1px dashed #ccc;
    width: 75%;
    text-align: center;
    line-height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  &-search {
    position: relative;
    i {
      position: absolute;
      right: 5px;
      top: 7px;
      color: #888;
      font-size: 14px;
    }
    &-field {
      display: inline-block;
      width: 100%;
      height: 30px;
      padding-left: 7px;
      padding-right: 20px;
      opacity: 0.8;
    }
  }
  &-select-all {
    margin-top: 10px;
    display: block;
    span {
      opacity: 0.6;
      color: #000000;
      margin-left: 4px;
    }
  }
}

// 树渲染
.@{__select-tree-prefix-cls}-treeNode {
  &:hover{
    background: #EBEBEB;
    color: @brand-primary;
    .@{__select-tree-prefix-cls}-treeNode-clear {
        opacity: 1;
        transform: scale(1);
        -ms-transform: scale(1);
    }
  }
  &-label {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
  }
  &-clear {
    position: absolute;
    right: 15px;
    top: 1px;
    cursor: pointer;
    color: @brand-primary;
    transition: opacity .3s, transform .3s;
    transform: scale(0);
    -ms-transform: scale(0);
  }
  span {
    vertical-align: middle;
  }
  height: 28px;
  line-height: 28px;
  white-space: nowrap;
  position: relative;
  &-arrow {
    color: #000;
    opacity: 0.4;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 2px;
  }
  .kuma-checkbox[type="checkbox"] + s {
    margin-right: 4px;
    vertical-align: middle;
  }
  .kuma-checkbox[type="checkbox"] + s:hover, .kuma-checkbox.checkbox-primary[type="checkbox"] + s:hover {
    background: auto;
  }
  &-allSelect {
    font-family: PingFangSC-Regular;
    color: #999999;
    margin-left: 12px;
  }
}

//checkbox渲染
.use-svg {
  .@{__select-tree-prefix-cls}-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    background: url("@{svg-path}/checkbox-normal.svg") no-repeat;
  }
  .@{__select-tree-prefix-cls}-checkbox-disabled {
    cursor: default;
    background: url("@{svg-path}/checkbox-disabled.svg") no-repeat;
  }
  .@{__select-tree-prefix-cls}-checkbox-checked {
    background: url("@{svg-path}/checkbox-checked.svg") no-repeat;
  }
  .@{__select-tree-prefix-cls}-checkbox-checked-disabled {
    cursor: default;
    background: url("@{svg-path}/checkbox-checked-disabled.svg") no-repeat;
  }
  .@{__select-tree-prefix-cls}-checkbox-halfchecked {
    background: url("@{svg-path}/checkbox-partial-checked.svg") no-repeat;
  }
  .@{__select-tree-prefix-cls}-checkbox-halfchecked-disabled {
    cursor: default;
    background: url("@{svg-path}/checkbox-partial-checked-disabled.svg") no-repeat;
  }
}
.no-svg {
  
}

// input显示层动画
.effect() {
  animation-duration: .3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
}

.@{__select-tree-prefix-cls}-selection__choice {
  background-color: #f3f3f3;
  border-radius: 4px;
  float: left;
  padding: 0 15px;
  margin-right: 4px;
  position: relative;
  overflow: hidden;
  transition: padding .3s cubic-bezier(0.6, -0.28, 0.735, 0.045), width .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);

  &__content {
    margin-left: 0;
    margin-right: 0;
    transition: margin .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &-zoom-enter, &-zoom-appear, &-zoom-leave {
    .effect();
    opacity: 0;
    animation-play-state: paused;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &-zoom-leave {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }

  &-zoom-enter.@{__select-tree-prefix-cls}-selection__choice-zoom-enter-active,
  &-zoom-appear.@{__select-tree-prefix-cls}-selection__choice-zoom-appear-active {
    animation-play-state: running;
    animation-name: rcSelectChoiceZoomIn;
  }

  &-zoom-leave.@{__select-tree-prefix-cls}-selection__choice-zoom-leave-active {
    animation-play-state: running;
    animation-name: rcSelectChoiceZoomOut;
  }

  @keyframes rcSelectChoiceZoomIn {
    0% {
      transform: scale(0.6);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes rcSelectChoiceZoomOut {
    to {
      transform: scale(0);
      opacity: 0;
    }
  }

  &__remove {
    color: #919191;
    cursor: pointer;
    font-weight: bold;
    padding: 0 4px 0 0;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    top: 0;
    right: 2px;
    transition: opacity .3s, transform .3s;
    &:before {
      content: '×'
    }

    &:hover {
      color: #333;
    }
  }
}





